.ion-badge-customize {
    position: absolute; 
    font-size: 8pt;
    right: -10px;
    top: -3px; 
}
.ion-button-customize {
    margin: 5px;
    width: 60px;
    height: 60px;
    position: relative;
    
}

/* Setting Overflow Visible */
.overflow-allow::part(native) {
    overflow: visible;
}